<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">conduit</a>

        <!-- Show this for logged out users -->
        <ul *ifAuthenticated="false" class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a class="nav-link" routerLink="/" data-testid="home-button">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/login"
                    routerLinkActive="active"
                    data-testid="login-button"
                >
                    Sign in
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/register"
                    routerLinkActive="active"
                    data-testid="register-button"
                >
                    Sign up
                </a>
            </li>
        </ul>

        <!-- Show this for logged in users -->
        <ul *ifAuthenticated="true" class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/"
                    routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }"
                    data-testid="home-button-logged-in"
                >
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/editor"
                    routerLinkActive="active"
                    data-testid="new-article-button"
                >
                    <i class="ion-compose"></i>&nbsp;New Article
                </a>
            </li>

            <li class="nav-item">
                <a
                    class="nav-link"
                    routerLink="/settings"
                    routerLinkActive="active"
                    data-testid="settings-button"
                >
                    <i class="ion-gear-a"></i>&nbsp;Settings
                </a>
            </li>

            @if (currentUser$ | async; as currentUser) {
                <li class="nav-item">
                    <a
                        class="nav-link"
                        [routerLink]="['/profile', currentUser.username]"
                        routerLinkActive="active"
                        data-testid="profile-button"
                    >
                        <img
                            [src]="currentUser.image"
                            *ngIf="currentUser.image"
                            class="user-pic"
                        />
                        {{ currentUser.username }}
                    </a>
                </li>
            }
        </ul>
    </div>
</nav>
